<wg-header></wg-header>
<!-- Begin page content -->

<main role="main" class="container">
  <div class="card" >
    <div class="card-body">
      <h1 class="card-title">{{ pageTitle }}</h1>
      <div class="card-body border border-danger">
        <p class="card-text">
          <em>Unfortunately, legal restrictions prevent us from allowing you to access the website any further.<br><br>
          If you have any questions, please contact us by email by clicking on <a href="mailto:corporateactions@boardroomlimited.com.au" class="hyper-link">this link</a></em>.
        </p>
      </div>
      <div class="clearfix">&nbsp;</div>
      <button type="button" class="btn" (click)="onBack()">
        Back <i class="fas fa-arrow-alt-circle-left"></i>
      </button>
    </div>
  </div>
</main>
<wg-footer></wg-footer>

