<wg-header></wg-header>
<!-- Begin page content -->

<main role="main" class="container">
  <div class="card" >
    <div class="card-body">
      <h1 class="card-title">{{ pageTitle }}</h1>
      <p class="card-text">
        By proceeding you confirm that you are a resident of Australia or New Zealand accessing this website from within Australia or New Zealand and you represent, warrant and agree that:
      </p>
      <ol class="card-text">
        <li>
          you are not in the United States and you are not acting for the account or benefit of a person in the United States;
        </li>
        <li>
          you will not make a copy of the documents in this website available to, or release or distribute a copy of such documents to any person in the United States or in any other place in which, or to any other person to whom, it would be unlawful to do so ("Ineligible Persons");
        </li>
        <li>
          your primary residence in Australia or New Zealand is true and accurate; and
        </li>
        <li>
          you are not acting as a nominee for, or otherwise for the account or benefit of any Ineligible Persons.
        </li>
      </ol>
      <div class="clearfix">&nbsp;</div>
      <p class="card-text">
        I agree to the above terms.
      </p>
      <div style="display: flex;">
        <button type="button" class="btn btn--outline" [routerLink]="['/residency']" flex start>
          No <i class="fas fa-times-circle"></i>
        </button>
        <button type="button" class="btn" [routerLink]="['/letter']" flex end>
          Yes <i class="fas fa-check"></i>
        </button>
      </div>
    </div>
  </div>
</main>
<wg-footer></wg-footer>
