<wg-header></wg-header>
<!-- Begin page content -->

<main role="main" class="container">
  <div class="card" >
    <div class="card-body">
      <h1 class="card-title">{{ pageTitle }}</h1>
      <div class="card-text">
        <h4>Share offer scheduled to open on Tuesday 1 May 2018</h4>
        WAM Global Limited has lodged this Prospectus with the Australian Securities and Investments Commission (ASIC) on 20 April 2018 in relation to an initial public offering (Offer) of its ordinary shares (Shares).<br><br>

        Offer is currently expected to open on Tuesday, 1 May 2018 and is expected to remain open until 5:00pm AEST on Friday, 8 June 2018. The company reserves the right to vary the dates and time of the Offer, including to close the Offer early or to accept late applications (either generally or in particular cases) without notification.<br><br>

        <h4>Important Dates</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Event</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Friday, 20th April 2018</td>
              <td>Lodgement of the prospectus with ASIC</td>
            </tr>
            <tr>
              <td>Tuesday, 1st May 2018</td>
              <td>Offer expected to open</td>
            </tr>
            <tr>
              <td>Friday, 1st June 2018</td>
              <td>Broker Firm Offer expected to close</td>
            </tr>
            <tr>
              <td>Friday, 8th June 2018</td>
              <td>Priority & General Offer expected to close</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>

        <h4>Key Offer Details</h4>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Minimum Subscription</th>
                <th scope="col">Maximum Subscription (excluding Oversubscription)</th>
                <th scope="col">Maximum Subscription (including Oversubscription)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total number of new Shares to be issued after the Offer</td>
                <td>7,500,000</td>
                <td>150,000,000</td>
                <td>250,000,000</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn--outline" [routerLink]="['/residency']">
          Exit <i class="fas fa-times-circle"></i>
        </button>
        <button type="button" class="btn" [routerLink]="['/terms']">
          Continue <i class="fas fa-chevron-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</main>
<wg-footer></wg-footer>

