<wg-header></wg-header>
<!-- Begin page content -->

<main role="main" class="container">
  <div class="card" >
    <div class="card-body">
      <h1 class="card-title">{{ pageTitle }}</h1>
      <div class="card-text">
        <h6 class="text-muted">
          Before downloading, printing OR Viewing this prospectus, you must carefully read the <strong>Terms</strong> set out in this notice:
        </h6>
        <h4>
          Terms
        </h4>
        <p>
          The Prospectus is an important document that you should read in its entirety before deciding whether to participate in the Offer (as referred to below and set out in the Prospectus). If you have questions about the Offer, you should contact your stockbroker, accountant or other professional adviser.<br><br>

          By accessing the Prospectus (by clicking on the "Download Prospectus" button below), you acknowledge that you have read and accept the terms set out on this website.
        </p>
        <h4>
          The Offer
        </h4>
        <p>
          The Prospectus contains details of an Offer by WAM Global Limited ACN 624 572 925 (WAM Global) of up to 250 million fully paid ordinary shares (Shares) for $2.20 per Share to raise up to $330,000,000 (with the ability to accept oversubscriptions to raise a further $220,000,000).<br><br>

          The Prospectus is dated (Friday, 20 April, 2018) and was lodged with the Australian Securities and Investments Commission (ASIC) on that date. No securities will be issued under the Prospectus later than 13 months after that date.<br><br>

          The Company has applied to ASX Limited (ASX) for admission to the official list of ASX and quotation of the Shares on ASX.<br><br>

          The Prospectus is available on this website by clicking the link below. A paper copy of the Prospectus will be provided on request free of charge by calling Boardroom Pty Limited on 1300 737 760 (within Australia) or +61 2 9290 9600 (outside Australia).
        </p>
        <h4>
          Applications under the offer
        </h4>
        <p>
            Applications for Shares will only be accepted where they are made on the relevant Application Form attached to or accompanying the Prospectus, or by completing the online application form available through this website.
        </p>
        <h4>
          Residency Criteria
        </h4>
        <p>
          The Prospectus is available to persons accessing this website from within Australia or New Zealand. If you are accessing this website from anywhere outside Australia or New Zealand, DO NOT download, print or view the Prospectus accessible through this website. By accessing the Prospectus, you warrant that you are an Australian resident and are accessing the website from within Australia or New Zealand.<br><br>

          No action has been taken to register or qualify the Prospectus, the Shares, or otherwise permit a public offering of the Shares, in any jurisdiction outside Australia or New Zealand. The Prospectus does not constitute an offer or invitation of Shares in any jurisdiction where, or to any person to whom, it would be unlawful to make such an offer or invitation. In particular, the Shares have not been, and will not be, registered under the United States Securities Act of 1933, as amended (US Securities Act), and may not be offered, sold or resold in the United States or to, or for the account or benefit of, persons in the United States except in transactions exempt from, or not subject to, the requirements of the US Securities Act and applicable US state securities laws. The Prospectus may not be sent to persons in the United States or otherwise distributed in the United States.
        </p>

        <h4>
          Acknowledgment
        </h4>
        <p>
          By clicking the "Download Prospectus" button below and accessing the Prospectus on this website, you represent, warrant and agree that:
        </p>
        <ol>
          <li>
            you are a resident of Australia or New Zealand accessing this website from within Australia or New Zealand;
          </li>
          <li>
            you are 18 years of age or over;
          </li>
          <li>
            you are not a resident of the United States or currently located in the United States, are not acting for the account or benefit of a person in the United States or any other foreign person and will not make a copy of the Prospectus available to, or release or distribute a copy of the Prospectus to, or for the account or benefit of, any person in the United States or in any other place in which, or to any other person to whom, it would be unlawful to do so (Ineligible Persons); and
          </li>
          <li>
              you are not acting as a nominee for, or otherwise for the account or benefit of, any Ineligible Persons.
          </li>
        </ol>
        <p>
          The information in the Prospectus is not financial product advice and does not take into account your investment objectives, financial situation or particular needs. The Prospectus should not be construed as financial, taxation, legal or other advice. If you do not fully understand this Prospectus or are in doubt as to how to deal with it, you should seek professional guidance from your stockbroker, lawyer, accountant or other professional adviser before deciding whether to invest in the Shares.
        </p>
      </div>
      <div class="clearfix">&nbsp;</div>
      <div ><!--class="alert"-->
        <button type="button" class="btn btn--outline" [routerLink]="['/residency']">
          Exit <i class="fas fa-times-circle"></i>
        </button>
        <a href="http://www.reportsonline.net.au/?documentid=0D0B8EC38B394177BB9D0EF95B7C987A" class="btn" >
          Download Prospectus <i class="fas fa-arrow-alt-circle-down"></i>
        </a>
        <a href="https://www.investorserve.com.au?offerid=776BE481CB814D269BCDDAB7302CADF0" target="_blank" class="btn" >
          Online Offer <i class="fas fa-certificate"></i>
        </a>
      </div>
    </div>
  </div>
</main>
<wg-footer></wg-footer>

