<header><!--class="site-header"-->
  <!-- Fixed navbar -->
  <nav class="nav">
    <div class="container">
      <div><!--class="site-header__logo"-->
        <a class="navbar-brand" href="http://wilsonassetmanagement.com.au/" target="_blank" title="{{ hrefTitle }}">
          <img src="{{ imageSrc }}" alt="{{ hrefTitle }}" [style.width.px]='240' />
        </a>
      </div>
    </div>
  </nav>
  <div class="large-hero">

    <img src="assets/images/sydneybridge.jpg" alt="Application Offer" class="large-hero__image"  /><!--[@transition]='state'-->

    <div class="large-hero__text-content">
      <div class="wrapper">
        <h1 class="large-hero__title">WAM Global Limited.</h1>
        <h2 class="large-hero__subtitle">Public Share Offer</h2>
      </div>
    </div>
  </div>
</header>
