<wg-header></wg-header>
<!-- Begin page content -->

<main role="main" class="container">
  <div class="card" >
    <div class="card-body">
      <h1 class="card-title">{{ pageTitle }}</h1>
      <p class="card-text">
        This offer for securities in WAM Global Limited is being made to applicants whose registered address is in Australia or New Zealand.<br>
        To access this website, please verify your country of primary residence.
      </p>
      <form [formGroup]="countryform" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group"
          [ngClass]="{
            'has-success': country.valid && (country.dirty || country.touched),
            'has-danger': country.invalid && (country.dirty || country.touched)}">
          <label for="country">
            <h5 class="card-title">{{ cardLabel }}</h5>
          </label>
          <select class="form-control" id="" aria-describedby="textHelp" placeholder="Select Country" formControlName="country">
            <option value="">Please select country</option>
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
          </select>
          <div class="form-control-feedback" *ngIf="country.errors && (country.dirty || country.touched)">
            <p *ngIf="country.errors.required">Country is required</p>
          </div>
          <!-- <pre>Touched? {{ country.touched }}</pre>
          <pre>Untouched? {{ country.untouched }}</pre>
          <pre>Valid? {{ country.valid }}</pre>
          <pre>Invalid? {{ country.invalid }}</pre> -->
        </div>

        <button type="submit" class="btn" ><!--[routerLink]="['/confirmation']"-->
          Submit <i class="fas fa-share-square"></i>
        </button>
      </form>
      <!-- <pre>{{ countryform.value | json }}</pre> -->
    </div>
  </div>
</main>
<wg-footer></wg-footer>
